$color-primary: rgb(28, 108, 183);
$color-secondary: rgb(134, 226, 255);
$color-background: rgb(247, 247, 247);

$font-family-condensed: "IBM Plex Sans Condensed", sans-serif;
$font-family-normal: "IBM Plex Sans", sans-serif;

$font-color-heading: rgb(37, 37, 37);
$font-color-body: rgb(99, 99, 99);

$font-size-h1: 4.2rem;
$font-size-h2: 3.8rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.4rem;

$font-weight-normal: 400;
$font-weight-wide: $font-weight-normal;
$font-weight-bold: 700;
