jupyter==1.0.0
rtree==0.9.4
matplotlib==3.2.0
geopandas==0.7.0
descartes==1.1.0
us==1.0.0
requests==2.23.0
FuzzyWuzzy==0.18.0
python-Levenshtein==0.12.0
requests==2.23.0
folium==0.10.1
python-dateutil<=2.8.0
urllib3 < 1.25
pysal==2.2.0
rapidfuzz==0.5.1
networkx==2.4
