@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?20222104');
  src: url('font/fontello.eot?20222104#iefix') format('embedded-opentype'),
    url('font/fontello.woff2?20222104') format('woff2'),
    url('font/fontello.woff?20222104') format('woff'),
    url('font/fontello.ttf?20222104') format('truetype'),
    url('font/fontello.svg?20222104#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20222104#fontello') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eye-off:before {
  content: '\e803';
} /* '' */
.icon-eye:before {
  content: '\e804';
} /* '' */
.icon-wrench:before {
  content: '\e805';
} /* '' */
.icon-cog:before {
  content: '\e806';
} /* '' */
.icon-plus:before {
  content: '\e807';
} /* '' */
.icon-th:before {
  content: '\e808';
} /* '' */
.icon-th-list:before {
  content: '\e809';
} /* '' */
.icon-th-large:before {
  content: '\e80a';
} /* '' */
.icon-info-1:before {
  content: '\e811';
} /* '' */
.icon-info-circle:before {
  content: '\e812';
} /* '' */
.icon-question-circle:before {
  content: '\e813';
} /* '' */
.icon-github:before {
  content: '\e814';
} /* '' */
.icon-download:before {
  content: '\e815';
} /* '' */
.icon-circle-empty:before {
  content: '\f10c';
} /* '' */
.icon-dot-circled:before {
  content: '\f192';
} /* '' */
.icon-sliders:before {
  content: '\f1de';
} /* '' */
